<div class="row d-flex justify-content-center mt-5">
  <div class="col-12 col-md-5">
    <!-- Card -->
    <div class="card card-cascade">
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h2 class="card-header-title mb-3">Marta</h2>
        <p class="card-header-subtitle mb-0">craftsman who turns your ideas into reality</p>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <p class="card-text">
          
          building excellent software that improves the lives of those around me. 
          I specialize in creating software for clients
          ranging from individuals and small-businesses all the way to large enterprise corporations. 
          Based-on Dallas, Texas.
        </p>

        <hr>
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"> </i></a>
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"> </i></a>
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
        <a class="px-2 fa-lg email-ic"><i class="fas fa-envelope"> </i></a>
      </div>
    </div>

    <div>
      <p>
        Hey, I'm Orman Neville
        web developer specialized in
        front-end and back-end web development.
      </p>

      <p>
        I love programming, writing simplest code solving problem that makes your live easier
      </p>
    </div>
  </div>
</div>
